@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Comfortaa", 'Comic Sans MS', cursive;
  background: linear-gradient(to right ,rgb(216, 213, 213), #312e30 );
}

.site-wrapper{
  margin:auto;
  width: 100%;
  max-width: 95%;
  background-color: transparent;
}